body{
  background: #cccccc;
  margin: 0%;
  padding: 0%;
}
h1 {
  text-align: center;
}
.caixa1 {
  position:absolute;
  background: purple;
  width: 40%;
  height: 50%;
  color:  white;
  left: 40%
}
.caixa2 {
  position: absolute;
  background: pink;
  width: 200px;
  heigth: 700px;
  color: black;
  left: 55%;
}
.menuprincipal { 
  position: absolute;
  width: 100%;
  height: 80px;
  background: rgb(156, 75, 231);
  top: 0;
  left: 0;


}

nav ul{ 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;

}

li{
float: left;


}
li a {
  display: block;
  color: rgb(41, 41, 41);
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
li a:hover{
  color: rgb(47, 104, 179);
  background: rgb(12, 10, 10);
}
#image{
  width: 900px;
}
.boxImage{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 1250px;
  height: 70%;
  background:rgb(240, 130, 207);
  top: 200px;
  left:0%;
  margin:20px;
  border-color: rgb(128, 244, 248) ;
  border-width: 20px;
  border-style: solid;
  padding: 20px;
}
.conteudo {
  position: absolute;
  top: 45px;
}
#rodape {
  width: 100%;
  height: 35px;
  background: rgb(183, 112, 231);
  color: rgb(5, 3, 4);
}
h1 {
  text-align: center;
  font-style: italic;
}
#imagee {
  left: 100px;
}